@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root{

  //Colors
  --color-orange: hsl(25, 97%, 53%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-grey: hsl(217, 12%, 63%);
  --color-medium-grey: hsl(216, 12%, 54%);
  --color-dark-blue: hsl(213, 19%, 18%);
  --color-dark-blue-card: hsl(215,22%,15%);
  --color-dark-blue-bg: hsl(216, 12%, 8%);
  //Fonts
  --font-overpass: 'Overpass', sans-serif;
  --font-main-size: 15px;
}

//Breakpoints